/* ----------------- */
/* Costum Properties */
/* ----------------- */

:root {
  --soft-blue: #8bacd9;
  --white: #fff;
  --cyan: #00fff8;
  --very-dark-blue-main: #0d192c;
  --very-dark-blue-card: #15263f;
  --dark-blue-line: #2e405a;
}
